body {
    background: #b0bec5;
}

nav {
    margin-bottom: 4.67vh;
}

#map {
    height: 80vh;
    left: -5px;
}

#about {
    padding-left: 30px;
    padding-right: 20px;
}

#dataGraph {
    height: 250px;
}

.content {
    margin-left: 6.88vw !important;
}

.detail-container {
    background-color: white;
    height: 80vh;
}

.collection-header {
    margin-bottom: 0px;
    padding-bottom: 0px !important;
}

.collection.with-header {
    margin-top: 0px;
}

.wiki {
    position: absolute;
    right: 15px;
    font-size: 50px;
}

.brand-logo, .detail-container {
    margin-left: 20px !important;
}

.new.badge {
    position: relative;
    height: 15px;
    font-size: 13px;
    bottom: 8px;
    margin-left: 5px;
}

.new.badge.red {
    margin-left: 15px;
}
